<%- include("./partialsAdmin/sidebar") %>
<div class="container col-xl-10 content-wrapper">
    <div class="shop-info box-info">
        <div class="col-12">
            <div class="col-lg-10 m-auto">
                <%- include("./partialsAdmin/header") %>
                <a class="col-1 d-flex align-items-center justify-content-between" href="/admin/manageCoupons">
                    <i class="fas fa-chevron-left"></i>
                    <p class="mr-4">Quay lại</p>
                </a>
                <form action="/admin/manageCoupons/UpdateCoupon/<%- coupon._id %>?_method=PUT" enctype="multipart/form-data"
                    method="POST">
                    <input type="hidden" name="_method" value="PUT">
                    <div class="input-group">
                        <div class="col-12 mt-2">
                            <label for="couponname" class="form-label">Tên chương trình</label>
                            <input type="text" value="<%- coupon.name %>" name="couponname" id="couponname"
                                class="form-control">
                        </div>
                        <div class="col-12 mt-2">
                            <label for="couponname" class="form-label">Danh mục giảm giá</label>
                            <%if(category == 0 ){ %>
                                <input type="text" value="0" name="byCategory1"  id="couponname" class="form-control" disabled>
                                <input type="text" hidden value="<%- coupon.byCategory %>" name="byCategory"  id="couponname" class="form-control">
                             <% }else{  %>
                                <% category.map(cate => { %>
                                    <input type="text"  value="<%- cate.name  %> " name="byCategory1" id="couponname" class="form-control" disabled>
                                    <input type="text" hidden value="<%- coupon.byCategory %> " name="byCategory" id="couponname" class="form-control">
                                <% }) %> 
                             <% } %> 
                        </div>
                        <div class="col-12 mt-2">
                            <label for="amount" class="form-label">Phần trăm giảm giá</label>
                            <input type="number" value="<%- coupon.amount %>" name="amount" id="amount"
                                class="form-control">
                        </div>
                        <div class="col-12 mt-2">
                            <label for="amount" class="form-label">Giảm giá tối đa</label>
                            <input type="number" value="<%- coupon.maxDiscount %>" name="maxDiscount" id="maxDiscount"
                                class="form-control">
                        </div>
                        <div class="col-12 mt-2">
                            <label for="amount" class="form-label">Description</label>
                            <textarea name="description" id="description" class="form-control" disabled><%- coupon.description %></textarea>
                        </div>
                        <div class="row align-center justify-content-between col-12 mt-2 p-0">
                            <div class="col-5 p-0">
                                <label for="validto" class="form-label">Từ ngày</label>
                                <input type="datetime-local" value="<%- coupon.validFrom %>" name="validfrom"
                                    id="validfrom" class="form-control"></input>
                            </div>
                            <div class="col-5 p-0">
                                <label for="validto" class="form-label">Đến ngày</label>
                                <input type="datetime-local" value="<%- coupon.validTo %>" name="validto"
                                    id="validto" class="form-control" accept="image/*">
                            </div>
                        </div>
                        <div class="col-12 mt-2">
                            <label for="amount" class="form-label">Trạng thái</label>
                            <select name="active" class="form-select">
                                <% if(coupon.active==true){ %>
                                    <% let isActive='Active' %>
                                        <option value="true"><%- isActive %></option>
                                        <option value="false">Inactive</option>
                                <% } else{ %>
                                        <% isActive='Inactive' %>
                                        <option value="false"><%- isActive %></option>
                                        <option value="true">Active</option>
                                <% } %>
                            </select>
                        </div>
                        <div class="col-12 mt-3 btn-right">
                            <button class="btn col-xl-3 col-lg-3 col-sm-12 col-12 btn-dark" id="button-addon2"
                                type="submit">Cập nhật</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
   
    </div>