<%- include("./partialsSeller/sidebar") %>
<div class="container col-xl-10 crud-page">
    
    <div class="table-control">
        <a href="/sellerPage/crud-page/createProduct" class="btn btn-primary mb-2" style="float: right">Thêm mới</a>
        <table class="table table-striped table-hover table-bordered paginated">
            <thead>
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Hình ảnh</th>
                    <th scope="col">Tên sản phẩm</th>
                    <th scope="col">Giá</th>
                    <th scope="col">Mô tả</th>
                    <th scope="col">Xử lí</th>
                </tr>
            </thead>
            <% productByUserID.forEach((product,index)=> {%>
                <tbody>
                    <tr>
                        <td><%- index + 1 %></th>
                        <td><img src="../../images/<%- product.thumbnail %>" alt=""></td>
                        <td><%- product.name %></td>
                        <td><%- product.price %></td>
                        <td><%- product.description %></td>
                        <td>
                        <a class="btn btn-primary" href="/sellerPage/crud-page/updateProduct/<%- product.slug %>.<%- product._id %>">Update</a>
                        <a class="btn btn-info delete-product" href="/sellerPage/crud-page/deleteProduct/<%- product.slug %>.<%- product._id %>">Delete</a>
                        </td>
                    </tr>
                </tbody>
                <% }) %>
        </table>
    </div>
</div>
