<div id="orders" class="col-12 col-sm-6 col-md-8 col-lg-10 py-5 px-5">

    <table id="tableOrders" class="table table-striped table-hover table-bordered paginated">
        <thead>
            <tr class="text-center">
                <th scope="col">Mã đơn hàng</th>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Người mua</th>
                <th scope="col">Địa chỉ</th>
                <th scope="col">Số lượng</th>
                <th scope="col">Tổng tiền</th>
                <th scope="col">Ngày đặt hàng</th>
                <th scope="col">Trạng thái</th>
                <th scope="col">Hành động</th>
            </tr>
        </thead>

        <tbody>
            <% orderItems.forEach(i => {%>
            <tr class="options text-center">
                <td><%= i._id %></td>
                <td><%= i.productName %></td>
                <td><%= `${i.buyer.first_name} ${i.buyer.last_name}` %></td>
                <td><%= `${i.userAddress.address} ${i.userAddress.city}` %></td>
                <td><%= i.totalQuantity %></td>
                <td>$<%= i.total %></td>
                <td><%= i.orderedDate.toISOString().replace(/T/, ' ').replace(/\..+/, '') %></td>
                <td><select name="" id="selectStatus" disabled>
                        <option value="">Chuẩn bị</option>
                        <option value="">Đang giao</option>
                        <option value="">Đã giao</option>
                    </select></td>
                <td class="td-actions">
                    <button id="edit" class="btn"><i class="fas fa-edit"></i></button>
                    <button id="save" class="btn" style="display: none;"><i class="fas fa-save"></i></button>
                    <button id="cancel" class="btn" style="display: none;"><i class="fas fa-times"></i></button>
                </td>
            </tr>
            <% }) %>
        </tbody>

    </table>
</div>

<script>
    const editBtn = document.querySelector('#edit')
    const select = document.querySelector('#selectStatus')
    const saveBtn = document.querySelector('#save')
    const cancelBtn = document.querySelector('#cancel')

    editBtn.addEventListener('click', (e) => {
        editBtn.setAttribute('style', 'display: none;')
        select.removeAttribute('disabled')
        saveBtn.removeAttribute('style')
        cancelBtn.removeAttribute('style')
    })

    cancelBtn.addEventListener('click', (e) => {
        saveBtn.setAttribute('style', 'display: none;')
        cancelBtn.setAttribute('style', 'display: none;')
        editBtn.removeAttribute('style')
    })
</script>