<div class="container px-lg-3">
  <div class="row">
    <div class="sp-left col-xl-2">
      <select class="form-select sp-sort-by" aria-label="Default select example">
        <option selected>Sắp xếp theo</option>
        <option value="priceAsc">Giá từ thấp đến cao</option>
        <option value="priceDesc">Giá từ cao đến thấp</option>
        <option value="dateDesc">Mới nhất</option>
      </select>
    </div>
    <div class="sp-right col-xl-10">
      <div class="row">
        <% if(pages ==0 ){ %> 
            <h2>Không có sản phẩm nào</h2>
        <% }else{  %>
            <% pagination.forEach(value => { %> 
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="product text-center">
                      <div class="position-relative mb-3">
                        <div class="badge text-white bg-"></div><a class="d-block" href="detail.html"><img class="img-fluid w-100"
                            src="/../images/<%- value.thumbnail %>" alt="..."></a>
                        <div class="product-overlay">
                          <ul class="mb-0 list-inline">
                            <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-outline-dark" href="#!"><i
                                  class="far fa-heart"></i></a></li>
                            <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-dark" href="/cart">Add to cart</a>
                            </li>
                            <li class="list-inline-item me-0"><a class="btn btn-sm btn-outline-dark" href="#productView"
                                data-bs-toggle="modal"><i class="fas fa-expand"></i></a></li>
                          </ul>
                        </div>
                      </div>
                      <h6> <a class="reset-anchor" href="detail.html"><%- value.name %></a></h6>
                      <p class="small text-muted"><%- value.price %></p>
                    </div>
                </div>
            <% }) %>
        <% } %> 
    </div>
    
    <p class="key" hidden ><%- key %></p>
    
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
          </li>
          <% for(let i = 0; i < pages; i++){%> 
          <li class="page-item"><a class="page-link" href="/sellerPage/search&page=<%- i %>?key=<%- key %>"><%- i+1 %></a></li>
          <% } %> 
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
    </nav>
    </div>
    </div>
</div>

