<!-- USER FORM -->
<div class="container emp-profile">
  <div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-6">
      <div class="profile-head">
        <h5>Hello <%= `${user.first_name} ${user.last_name}` %></h5>
        <h6></h6>
      </div>
    </div>
    <div class="col-md-2">
      <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-0"></div>
    <div class="col-md-4">
      <div class="profile-img">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog"
          alt="" />
        <div class="file btn btn-lg btn-primary">
          Change Photo
          <input type="file" name="file" />
        </div>
      </div>
      <div class="tab-content profile-tab" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class="row">
            <div class="col-md-6">
              <label>Name</label>
            </div>
            <div class="col-md-6">
              <p><%= `${user.first_name} ${user.last_name}` %></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Address</label>
            </div>
            <div class="col-md-6">
              <p><%= user.address %></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Phone</label>
            </div>
            <div class="col-md-6">
              <p><%= user.phoneNumber %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card h-100">
        <form class="card-body" action="/user/profile/update?_method=PUT" method="POST">
          <input type="hidden" name="_method" value="PUT">
          <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <h6 class="mb-2 text-primary">Edit profile</h6>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" value="<%= user.first_name %>" id="firstName"
                      name="first_name" placeholder="">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" value="<%= user.first_name %>" id="lastName"
                      name="last_name" placeholder="">
                  </div>
                </div>
              </div>

            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="phone">Change Phone</label>
                <input type="text" class="form-control" value="<%= user.phoneNumber %>" name="phoneNumber" id="phone"
                  placeholder="Enter phone number">
              </div>
            </div>
          </div>
          <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <h6 class="mt-3 mb-2 text-primary">Address</h6>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="address">Change Address</label>
                <input type="name" class="form-control" value="<%= user.address %>" name="address" id="address"
                  placeholder="Enter Address">
              </div>
            </div>
          </div>
          <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-4">
              <div class="text-right">
                <button type="submit" class="btn btn-primary">Update</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="">

  </div>
</div>