<% if (orders.length) { %>
<% orders.forEach(order => { %>
<% order.orderItems.forEach(o => { %>
<% if(!o.isRate) { %>
<div class="my-3 px-3 infor d-grid bg-white">
	<div class="d-flex justify-content-between pt-3">
		<div>
			<div>
				<i class="fas fa-store"></i>
				<span><%= `${o.productId.userID.first_name} ${o.productId.userID.last_name}` %></span>
			</div>
		</div>
		<div>
			<span>
				<i class="fas fa-truck"></i>
				<span class="text-success">Giao hàng thành công</span>
			</span>
		</div>
	</div>
	<hr style="border: 1px solid yellow" />
	<div class="bg-white d-flex pt-3 justify-content-between">
		<div class="img">
			<img src="/images/<%= o.productId.thumbnail %>" alt="anh san pham" class="productImg" />
		</div>
		<div class="details">
			<div>
				<!-- Product Name -->
				<span class="fs-4"><%= o.productId.name %> </span>
			</div>
			<div>
				<!-- Product classification -->
				<span>Categories: <%= o.productId.categoryId.name %></span>
			</div>
			<div>
				<!-- Quantity -->
				<span>Quantity: <%= o.quantity %></span>
			</div>
		</div>
		<div class="d-flex flex-column justify-content-end">
			<!-- Price -->
			<span class="fw-bold">Price: <%= o.productId.price %> $</span>
		</div>
	</div>
	<hr style="border: 1px solid yellow" />
	<div class="">
		<div class="d-flex float-end flex-column">
			<div class="d-flex flex-row justify-content-end mb-3">
				<span class="fw-bold">Total Price: <%= o.productId.price * o.quantity %> $</span>
			</div>
			<div class="pb-3">
				<button type="button" class="btn btn-primary">Buy Again</button>
				<button type="button" class="btn btn-secondary">Contact Seller</button>
				<button type="button" class="btn btn-danger" data-toggle="modal"
					data-target="#form<%= o.productId._id %>"> Rating</button>
				<div class="modal fade" id="form<%= o.productId._id %>" tabindex="-1" role="dialog"
					aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="text-right cross"> <i class="fa fa-times mr-2"></i> </div>
							<div class="card-body text-center"> <img src=" https://i.imgur.com/d2dKtI7.png" height="100"
									width="100">
								<form action="/rate/<%= o.productId._id %>" method="POST">
									<div class="comment-box text-center">
										<h4>Add a comment</h4>
										<div class="rate">
											<% for(let i = 1; i <= 5; i++) { %>
											<label for="<%= i %>">☆</label>
											<input type="radio" name="star" value="<%= i %>" id="<%= i %>">
											<% } %>
										</div>
										<div class="comment-area"> <textarea class="form-control"
												placeholder="what is your view?" name="comment" rows="4"></textarea>
										</div>
										<div class="text-center mt-4"> <button class="btn btn-success send px-5">Send
												message <i class="fa fa-long-arrow-right ml-1"></i></button> </div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<% } else { %>
<div class="my-3 px-3 infor d-grid bg-white">
	<div class="d-flex justify-content-between pt-3">
		<div>
			<div>
				<i class="fas fa-store"></i>
				<span><%= `${o.productId.userID.first_name} ${o.productId.userID.last_name}` %></span>
			</div>
		</div>
		<div>
			<span>
				<span class="text-success">Đã đánh giá</span>
			</span>
		</div>
	</div>
	<hr style="border: 1px solid yellow" />
	<div class="bg-white d-flex pt-3 justify-content-between">
		<div class="img">
			<img src="/images/<%= o.productId.thumbnail %>" alt="anh san pham" class="productImg" />
		</div>
		<div class="details">
			<div>
				<!-- Product Name -->
				<span class="fs-4"><%= o.productId.name %> </span>
			</div>
			<div>
				<!-- Product classification -->
				<span>Categories: <%= o.productId.categoryId.name %></span>
			</div>
			<div>
				<!-- Quantity -->
				<span>Quantity: <%= o.quantity %></span>
			</div>
		</div>
		<div class="d-flex flex-column justify-content-end">
			<!-- Price -->
			<span class="fw-bold">Price: <%= o.productId.price %> $</span>
		</div>
	</div>
	<hr style="border: 1px solid yellow" />
	<div class="">
		<div class="d-flex float-end flex-column">
			<div class="d-flex flex-row justify-content-end mb-3">
				<span class="fw-bold">Total Price: <%= o.productId.price * o.quantity %> $</span>
			</div>
			<div class="pb-3">
				<button type="button" class="btn btn-primary">Buy Again</button>
				<button type="button" class="btn btn-secondary">Contact Seller</button>
				<button type="button" class="btn btn-danger" disabled>Rated</button>
			</div>
		</div>
	</div>
</div>
<% } %>
<%})%>
<%})%>
<% } else { %>
<div class="my-3 px-3 bg-white noBill position-relative text-center">
	<div class=" position-absolute top-50 start-50 translate-middle">
		<img src="/img/invoice.jpg" alt="ảnh đơn hàng" class="" />
		<span>Chưa có đơn hàng</span>
	</div>
</div>
<% } %>